@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);





#dropdown-menu-2 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2 .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#dropdown-menu-2 .nav .link,
#dropdown-menu-2 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2 .navbar,
#dropdown-menu-2 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2 .dropdown-menu a:hover,
#dropdown-menu-2 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2 A {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
#header4-3 H1 {
  color: #d1cbc8;
}
#header4-3 P {
  color: #d1cbc8;
}
#header4-3 B {
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
}
#header4-3 I {
  font-family: 'Lora', serif;
  font-size: 36px;
}
#msg-box5-4 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-4 .mbr-article {
  color: #ffffff;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #ffffff;
}
#content5-9 .mbr-article P {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-1h .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1h .mbr-article {
  color: #ffffff;
}



#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #333333;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-e .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-e A {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
#header1-v H1 {
  text-align: left;
  color: #b9a0ce;
}
#header1-v P {
  text-align: right;
  color: #7b9ca6;
}
#header1-v .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#content4-x P {
  text-align: left;
}
#content5-1w .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1w .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1w .mbr-article {
  color: #fff;
}
#content5-1w .mbr-article P {
  text-align: center;
}


#slider-25 H1 {
  text-align: right;
}
#dropdown-menu-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-g .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#dropdown-menu-g .nav .link,
#dropdown-menu-g .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-g .navbar,
#dropdown-menu-g .dropdown-menu {
  background: #333333;
}
#dropdown-menu-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-g .dropdown-menu a:hover,
#dropdown-menu-g .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-g .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-g A {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
#content5-22 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-22 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-22 .mbr-article {
  color: #fff;
}
#content5-22 .mbr-article P {
  text-align: center;
}
#content5-21 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-21 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-21 .mbr-article {
  color: #fff;
}
#content5-21 .mbr-article P {
  text-align: center;
}


#msg-box4-q .mbr-header__text {
  color: #ffffff;
}
#msg-box4-q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-q .mbr-article {
  color: #ffffff;
}
#content5-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-article {
  color: #fff;
}
#features1-1y .mbr-section-title .mbr-header__text {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
}
#features1-1y .mbr-section__col .mbr-header__text {
  color: #ffffff;
  font-size: 20px;
}
#features1-1y P {
  color: #efefef;
}
#slider-18 H1 {
  text-align: left;
}
#slider-18 P {
  text-align: left;
}
#dropdown-menu-k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-k .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#dropdown-menu-k .nav .link,
#dropdown-menu-k .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-k .navbar,
#dropdown-menu-k .dropdown-menu {
  background: #333333;
}
#dropdown-menu-k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-k .dropdown-menu a:hover,
#dropdown-menu-k .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-k .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-k A {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
#content5-20 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-article {
  color: #fff;
  text-align: center;
}


#dropdown-menu-1i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1i .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#dropdown-menu-1i .nav .link,
#dropdown-menu-1i .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-1i .navbar,
#dropdown-menu-1i .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1i .dropdown-menu a:hover,
#dropdown-menu-1i .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1i .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1i A {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
#content5-23 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-23 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-23 .mbr-article {
  color: #fff;
}
#msg-box5-26 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-26 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-26 .mbr-article {
  color: #ffffff;
}
#msg-box4-1x .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1x .mbr-article {
  color: #ffffff;
}
#content5-22 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-22 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-22 .mbr-article {
  color: #fff;
  text-align: center;
}


#dropdown-menu-1k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1k .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#dropdown-menu-1k .nav .link,
#dropdown-menu-1k .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-1k .navbar,
#dropdown-menu-1k .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1k .dropdown-menu a:hover,
#dropdown-menu-1k .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1k .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1k A {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
#features1-1z P {
  text-align: center;
  color: #777777;
}
#content5-1w .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1w .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1w .mbr-article {
  color: #fff;
}
#content5-23 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-23 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-23 .mbr-article {
  color: #fff;
}
#content5-23 .mbr-article P {
  text-align: center;
}
